/node_modules
/public/hot
/public/storage
# Uncomment below to ignore build files (we include them for Plesk deployment)
# /public/build
/storage/*.key
/storage/app/audio
/storage/app/pdf
/storage/app/temp
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/python-diarization/venv
/python-diarization/__pycache__
*.pyc
*.pyo
*.key
